//头部模块
$header-wrapper-bg = #E8E8E8;
$header-wrapper-cl = #000;
$header-middle-txt = #3472E2;

//用户信息模块
$user-message-wrapper = #3472E2;
$user-avatar = #D3D7D8;
$user-name-level = #fff;
$experience-prompt = #EAEAEA;
$experience-prompt-highlight = red;

// 搜索框模块
$search-wrapper = #565656;
$search-hot = #fff;
$search-hot-content = #F9B20C;
$search-input-bg = #fff;
$search-input-color = #000;

// 精选文章模块
$choice-articleBg = #fff;
$choice-article-header-border = #ebebeb;
$choice-article-header-border-after = #3472E2;
$choice-article-header-more = #999;
$choice-article-content-list = #f3f3f3;
$content-list-img-bg = #d3d7d8;

// 关注的人模块
$user-attention-header = #f5f5f5;
$user-attention-header-after = #3472e2;
$list-text-name = #3472e2;

// 右边侧边栏模块
$app-right-menu-list-icon-bg = #ffd100;
$app-right-menu-list-icon-color = #444;

// 底部模块
$footer-wrapper-bg = #373737;
$footer-wrapper-color = #fff;
$footer-bottom-txt = #6d6d6d;

// 登录模块
$login-content-bg = #fff;
$login-color = #3472E2;
