//头部模块
$header-wrapper-bg = #E8E8E8;
$header-wrapper-cl = #000;
$header-middle-txt = #000;

//用户信息模块
$userMessageWrapper = #3472E2;
$userAvatar = #D3D7D8;
$userNameLevel = #fff;
$experiencePrompt = #EAEAEA;
$experiencePromptHighlight = red;

// 搜索框模块
$searchWrapper = #565656;
$searchHot = #fff;
$searchHotContent = #F9B20C;
$searchInputBg = #fff;
$searchInputColor = #000;

// 精选文章模块
$ChoiceArticleBg= #fff;
