// app-header 相关配置
$app-header-height = 290px

$app-header-btn-color = #fff

// app-sidebar 相关配置
$app-sidebar-title-height = 150px
$app-sidebar-nav-height = 90px
$app-sidebar-left-icon-size = 40

$colorPrimaryBlue = #1976d2

// app-footer 相关配置

$app-footer-height = auto

// overall-search 相关配置
$bgOverallSearch = #fff
$colorOverallSearch = #999
$colorOtherItemIcon = #fff
$bgOtherItemIcon = #3276f0

// Index 相关配置
$bgContentHeaderScroll = #fff
$colorContentHeaderItem = #999
$colorContentHeaderItemActive = #3276f0

// RecommendArticle 相关配置
$bgArticle = #fff
$colorArticleBottom = #999
$colorArticleBottomTxt = #000

