//头部模块
$header-wrapper-bg = #fff;
$header-wrapper-cl = #000;
$header-middle-txt = #3472E2;

// 右边侧边栏模块
$app-right-menu-list-icon-bg = #ffd100;
$app-right-menu-list-icon-color = #444;

// 底部模块
$footer-wrapper-bg = #373737;
$footer-wrapper-color = #fff;
$footer-bottom-txt = #6d6d6d;

