@font-face {
    font-family: 'iconfont';  /* project id 627599 */
    src: url('//at.alicdn.com/t/font_627599_mmkibvqsjni5dn29.eot');
    src: url('//at.alicdn.com/t/font_627599_mmkibvqsjni5dn29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_627599_mmkibvqsjni5dn29.woff') format('woff'),
    url('//at.alicdn.com/t/font_627599_mmkibvqsjni5dn29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_627599_mmkibvqsjni5dn29.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e601";
}

.icon-home-active:before {
    content: "\e600";
}

.icon-my:before {
    content: "\e603";
}

.icon-my-active:before {
    content: "\e602";
}

.icon-liuyan:before {
    content: "\e744";
}

.icon-down-arrow:before {
    content: "\e772";
}

.icon-search:before {
    content: "\e752";
}

.icon-modify:before {
    content: "\e606";
}

.icon-question:before {
    content: "\e607";
}

.icon-courier:before {
    content: "\e608";
}

.icon-my-home:before {
    content: "\e609";
}
